

.category-title{
    color: white;
    font-family: Merriweather,sans-serif;
    text-align: center;
}
.buttons-container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  z-index: 100;
}
.category-button {
  width: 180px;
  min-height: 50px;
  padding: 10px;
  color: white;
  margin: 10px;
  font-size: 1.3em;
  border-radius: 10px;
  border: 1.5px solid white;
  background-color: black;
  transition: all 500ms ease;
  font-family: Merriweather,sans-serif;
}
.category-button:hover {
  background-color: rgb(7, 103, 48);
  background-color: radial-gradient(
    circle,
    rgba(7, 103, 48, 1) 0%,
    rgba(10, 61, 37, 1) 68%
  );
}
#selected {
  background-color: rgb(7, 103, 48);
  background-color: radial-gradient(
    circle,
    rgba(7, 103, 48, 1) 0%,
    rgba(10, 61, 37, 1) 68%
  );
}

.button-logo{
    width: 100%;
    margin: auto;
    padding: 0;
}
